compile = "cargo build && cp target/debug/imtool ."
run = ["./imtool", "images/image1.heic", "images/image2.heic", "-t", "jpeg"]
hidden = ["target"]

entrypoint = "src/main.rs"

[packager]
language = "rust"

[packager.features]
packageSearch = true

[languages.rust]
pattern = "**/*.rs"

[languages.rust.languageServer]
start = "rust-analyzer"

[nix]
channel = "stable-22_05"